# Режим приложения: dev, test или prod
APP_ENV=prod

# HTTP-сервер
HTTP_ADDRESS=0.0.0.0
HTTP_PORT=8081
HTTP_READ_TIMEOUT=10s
HTTP_WRITE_TIMEOUT=10s
HTTP_READ_HEADER_TIMEOUT=5s
HTTP_IDLE_TIMEOUT=60s

# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_USER=artfolio
DB_PASSWORD=
DB_NAME=artfolio
DB_SSL_MODE=disable
